target/
!.mvn/wrapper/maven-wrapper.jar

/script.py
/.idea/
merged_output.java
/target/
InsideChangesController.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/demo.iml
/mvnw.cmd
/mvnw

### Java classes ###
target/
